@charset "UTF-8";
:root {
  --primary-text-color: #212121;
  --accent-text-color: #2196f3;
  --primary-white-color: #ffffff;
  --cubic: cubic-bezier(0.4, 0, 0.2, 1);
}

.page {
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

textarea {
  resize: none;
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  height: auto;
  width: 100%;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  /* outline: 2px solid tomato; */
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.button__solution, .form__send-button, .subscribe__button {
  margin: 0 auto;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 216px;
  color: var(--primary-white-color);
  background-color: var(--accent-text-color);
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  display: flex;
  letter-spacing: 0.06em;
}

.social {
  display: flex;
  margin-top: 16px;
  justify-content: center;
  align-items: center;
}

.social__link {
  color: #afb1b8;
  height: 44px;
  width: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: background-color 250ms var(--cubic), color 250ms var(--cubic);
}
.social__link:hover, .social__link:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-text-color);
}

.social__icon {
  fill: currentColor;
}

.social__items + .social__items {
  margin-left: 10px;
}

.portfolio__title, .advantages__label, .form__policy-checkbox {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.clients__title, .team__title, .examples__title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
}

.join {
  margin-top: 60px;
}
@media screen and (min-width: 768px) {
  .join {
    margin-left: 165px;
    margin-top: 0;
  }
}
@media screen and (min-width: 1200px) {
  .join {
    margin-left: 70px;
    margin-top: 0px;
  }
}

.join__label {
  color: var(--primary-white-color);
  font-size: 14px;
  line-height: 1.14;
}

.join__list {
  display: flex;
  margin-top: 20px;
}

.join__items + .join__items {
  margin-left: 10px;
}

.join__link {
  color: var(--primary-white-color);
  height: 44px;
  width: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms var(--cubic);
}
.join__link:hover, .join__link:focus {
  background-color: var(--accent-text-color);
}

.join__icon {
  fill: currentColor;
}

.subscribe__field {
  /* position: relative; */
  display: flex;
  flex-direction: column;
  margin-top: 60px;
}
@media screen and (min-width: 1200px) {
  .subscribe__field {
    margin-left: 90px;
    margin-top: 0px;
  }
}

.subscribe__label {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: #ffffff;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-bottom: 20px;
}

.subscribe__input {
  width: 100%;
  height: 50px;
  padding-left: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: var(--primary-white-color);
  background-color: #2f303a;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 480px) {
  .subscribe__input {
    width: 450px;
    height: 50px;
  }
}
@media screen and (min-width: 1200px) {
  .subscribe__input {
    width: 358px;
    height: 50px;
  }
}
.subscribe__input::-moz-placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}
.subscribe__input:-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}
.subscribe__input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}
.subscribe__input:focus {
  border: 1px solid var(--accent-text-color);
}

.subscribe__list {
  position: relative;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1200px) {
  .subscribe__list {
    flex-direction: row;
  }
}

.subscribe__button {
  margin-top: 20px;
  padding-left: 38px;
  min-width: 200px;
}
@media screen and (min-width: 1200px) {
  .subscribe__button {
    margin-left: 12px;
    margin-top: 0px;
  }
}

.subscribe__icon {
  position: absolute;
  left: 78%;
  top: 72%;
  fill: var(--primary-white-color);
}
@media screen and (min-width: 480px) {
  .subscribe__icon {
    left: 62%;
    top: 72%;
  }
}
@media screen and (min-width: 1200px) {
  .subscribe__icon {
    left: 92%;
    top: 30%;
  }
}

.backdrop__closeButton {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 8px;
  margin-right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  color: var(--primary-text-color);
  background-color: var(--primary-white-color);
  cursor: pointer;
}

.form {
  height: 80%;
  width: 80%;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 20px;
}
@media screen and (min-width: 480px) {
  .form {
    height: 342px;
    width: 370px;
  }
}
@media screen and (min-width: 1200px) {
  .form {
    width: 448px;
  }
}

.form__field {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.form__input {
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border 250ms var(--cubic);
}
.form__input:focus {
  border: 1px solid var(--accent-text-color);
}

.form__label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  margin-bottom: 5px;
  color: #757575;
}

.form__textarea {
  height: 120px;
  font-size: 12px;
  padding-left: 16px;
  padding-top: 12px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__textarea::-moz-placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form__textarea:-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form__textarea::placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form__textarea:focus {
  border: 1px solid var(--accent-text-color);
}

.form__icon {
  fill: var(--primary-text-color);
  position: absolute;
  bottom: 12px;
  left: 12px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__field:focus-within .form__icon {
  fill: var(--accent-text-color);
}

/* .form-input:focus ~ .form-icon {
  fill: var(--accent-text-color);
} */
.form__policy {
  display: flex;
  align-items: center;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 20px;
  margin-bottom: 30px;
  height: 15px;
  font-size: 6px;
  line-height: 1.166;
  color: #757575;
}
@media screen and (min-width: 480px) {
  .form__policy {
    font-size: 12px;
  }
}
@media screen and (min-width: 1200px) {
  .form__policy {
    margin-left: 54px;
    margin-right: 50px;
    height: 24px;
    font-size: 14px;
    line-height: 1.71;
  }
}

.form__policy-details {
  color: var(--accent-text-color);
  margin-left: 5px;
}

.form__policy-icon {
  margin-right: 8px;
  border: 2px solid var(--primary-text-color);
  border-radius: 4px;
}
.form__policy-checkbox:checked + .form__policy-icon {
  background-color: var(--accent-text-color);
  border: transparent;
}

/* .checkbox-img {
  display: block;
  margin-right: 8px;

  height: 15px;
  width: 16px;
  border: 2px solid var(--primary-text-color);
  border-radius: 4px;
}

.policy-input:checked + .checkbox-img {
  border-color: transparent;

  background-image: url("../images/check.svg");
  background-color: var(--accent-text-color);
  background-size: contain;
  background-origin: border-box;
} */
.form__send-button {
  display: flex;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 52px;
  max-width: 200px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
@media screen and (min-width: 1200px) {
  .form__send-button {
    margin-left: 164px;
    margin-right: 164px;
  }
}

body.overflow {
  overflow: hidden;
}

.header__mobile {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .header__mobile {
    display: none;
  }
}

.menu-btn {
  height: 50px;
  width: 50px;
  border: none;
  padding: 10px;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 2;
  background-color: #fff;
  border-radius: 5px;
}
.menu-btn .menu-btn__close {
  display: none;
}
.menu-btn.active .menu-btn__menu {
  display: none;
}
.menu-btn.active .menu-btn__close {
  display: block;
}
.menu-btn:hover, .menu-btn:focus {
  color: var(--accent-text-color);
}

.menu-btn__close {
  fill: currentColor;
}

.mobile-menu {
  display: none;
  overflow: auto;
}
.mobile-menu.active {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  padding: 40px;
}

.mobile__logo {
  color: #000000;
  text-decoration: none;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  transition: color 250ms var(--cubic);
}
.mobile__logo:hover, .mobile__logo:focus {
  color: var(--accent-text-color);
}

.mobile__halflogo {
  color: var(--accent-text-color);
}

.mobile__link {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 40px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: color 250ms var(--cubic);
}
.mobile__link:hover, .mobile__link:focus {
  color: var(--accent-text-color);
}

.mobile__link--current {
  color: var(--accent-text-color);
}

.mobile__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile__item:last-child {
  margin-bottom: 64px;
}

.mobile__tel {
  text-decoration: none;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--accent-text-color);
}

.mobile__mail {
  color: #757575;
  text-decoration: none;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  margin-bottom: 64px;
}

.social-links {
  display: flex;
}

.social-links__link {
  color: var(--accent-text-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 11px;
  line-height: 1.22;
  letter-spacing: 0.02em;
}
@media screen and (min-width: 480px) {
  .social-links__link {
    font-size: 14px;
  }
}

.social-links__item:not(:last-child) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  margin-right: 10px;
  padding-right: 10px;
}

/* header */
.header {
  border-bottom: 1px solid #ececec;
}

.header__inner {
  display: none;
}
@media screen and (min-width: 768px) {
  .header__inner {
    display: flex;
    align-items: center;
  }
}

.header__nav {
  display: flex;
  align-items: center;
}

.header__logo {
  color: #000000;
  text-decoration: none;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  transition: color 250ms var(--cubic);
}
.header__logo:hover, .header__logo:focus {
  color: var(--accent-text-color);
}

.header__halflogo {
  color: var(--accent-text-color);
}

.header__list {
  display: flex;
  margin-left: 93px;
}

.header__item + .header__item {
  margin-left: 50px;
}

.header__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: color 250ms var(--cubic);
}
.header__link:hover, .header__link:focus {
  color: var(--accent-text-color);
}

.header__link--current {
  color: var(--accent-text-color);
  position: relative;
}
.header__link--current::after {
  content: "";
  position: absolute;
  display: inline-block;
  top: 95%;
  left: 0%;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: var(--accent-text-color);
}

/* контакти */
.contacts {
  margin-left: auto;
}
@media screen and (min-width: 1200px) {
  .contacts {
    display: flex;
  }
}

.contacts__mail,
.contacts__tel {
  color: #757575;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  transition: color 250ms var(--cubic);
}
.contacts__mail:hover, .contacts__mail:focus,
.contacts__tel:hover,
.contacts__tel:focus {
  color: var(--accent-text-color);
}

.contacts__item {
  margin-top: 10px;
}
@media screen and (min-width: 1200px) {
  .contacts__item {
    margin-top: 0px;
    margin-left: 30px;
  }
}

.contacts__icon {
  fill: currentColor;
  margin-right: 10px;
}

/* ефективні рішення */
.solutions {
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/background.jpg);
  padding: 200px 0;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 480px) {
  .solutions {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .solutions {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .solutions {
    max-width: 1600px;
  }
}

.solution__head {
  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 26px;
  line-height: 1.4;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .solution__head {
    font-size: 44px;
  }
}

.button__solution {
  transition: background-color 250ms var(--cubic);
}
.button__solution:hover, .button__solution:focus {
  color: var(--accent-text-color);
  background-color: var(--primary-white-color);
}

/* переваги */
@media screen and (min-width: 768px) {
  .advantages__section {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}
@media screen and (min-width: 1200px) {
  .advantages__section {
    display: flex;
    flex-wrap: nowrap;
  }
}

@media screen and (min-width: 768px) {
  .advantages__items {
    flex-basis: calc((100% - 60px) / 2);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .advantages__items + .advantages__items {
    margin-left: 30px;
  }
}

.advantages__name {
  margin-top: 30px;
  margin-bottom: 10px;
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  text-transform: uppercase;
}
@media screen and (max-width: 768px) {
  .advantages__name {
    text-align: center;
  }
}

.advantages__explanation {
  color: #757575;
  font-size: 14px;
  line-height: 1.7;
}

.advantages__list {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f4fa;
  border: 1px solid transparent;
  border-radius: 4px;
}
@media screen and (min-width: 480px) and (max-width: 768px) {
  .advantages__list {
    margin-top: 30px;
    height: 120px;
    width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .advantages__list {
    height: 120px;
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .advantages__list {
    height: 120px;
    width: 270px;
  }
}

.advantages__icon {
  border: 1px solid transparent;
  border-radius: 4px;
  /* outline: 2px solid red; */
}

/* Чим ми займаємося */
.examples {
  padding-bottom: 94px;
}
@media screen and (max-width: 1200px) {
  .examples {
    display: none;
  }
}

.examples__section {
  display: flex;
}

.examples__item + .examples__item {
  margin-left: 30px;
}

.examples__item {
  position: relative;
}

.examples__names {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
  width: 370px;
  bottom: -12%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: var(--primary-white-color);
  background: rgba(47, 48, 58, 0.8);
}

/* команда */
.team {
  background-color: #f5f4fa;
}

@media screen and (min-width: 768px) {
  .team__section {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .team__section {
    display: flex;
    flex-wrap: nowrap;
    gap: 30px;
  }
}

.team__item {
  width: 100%;
  height: 100%;
  margin-bottom: 30px;
  background-color: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team__item:last-child {
  margin-bottom: 0;
}
@media screen and (min-width: 480px) {
  .team__item {
    width: 450px;
    height: 622px;
  }
}
@media screen and (min-width: 768px) {
  .team__item {
    flex-basis: calc((100% - 30px) / 2);
    height: 536px;
  }
}
@media screen and (min-width: 1200px) {
  .team__item {
    flex-basis: calc((100% - 60px) / 3);
    height: 428px;
    margin-bottom: 0;
  }
}

.team__card {
  margin-top: 30px;
}

.team__names {
  /* margin-top: 30px; */
  margin-bottom: 10px;
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
}

.team__position {
  color: #757575;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
}

/* клієнти */
.clients__list {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}
@media screen and (min-width: 768px) {
  .clients__list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}
@media screen and (min-width: 1200px) {
  .clients__list {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    margin: 0;
  }
}

.clients__items {
  flex-basis: calc((100% - 60px) / 2);
  margin: 15px;
}
@media screen and (min-width: 768px) {
  .clients__items {
    flex-basis: calc((100% - 90px) / 3);
    margin: 15px;
  }
}
@media screen and (min-width: 1200px) {
  .clients__items {
    margin: 0;
  }
}

@media screen and (min-width: 1200px) {
  .clients__items + .clients__items {
    margin-left: 30px;
  }
}

.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #afb1b8;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition-property: background-color, color, border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 480px) {
  .clients__link {
    width: 210px;
    height: 92px;
  }
}
@media screen and (min-width: 768px) {
  .clients__link {
    width: 226px;
    height: 92px;
  }
}
@media screen and (min-width: 1200px) {
  .clients__link {
    width: 170px;
    height: 92px;
  }
}
.clients__link:hover, .clients__link:focus {
  color: var(--accent-text-color);
  border: 1px solid var(--accent-text-color);
  border-radius: 4px;
}

.clients__icon {
  fill: currentColor;
}

/* Підвал */
.footer {
  background-color: #2f303a;
  padding: 60px 0;
}

.footer__section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .footer__section {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    flex-direction: row;
    text-align: center;
  }
}
@media screen and (min-width: 1200px) {
  .footer__section {
    display: flex;
    align-items: baseline;
    flex-direction: row;
    text-align: start;
  }
}

/* лого-підвал */
.footer__logo {
  display: inline-block;
  margin-bottom: 20px;
  color: var(--primary-white-color);
  text-decoration: none;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__logo:hover, .footer__logo:focus {
  color: var(--accent-text-color);
}

.footer__halflogo {
  color: var(--accent-text-color);
}

/* контакти-підвал */
.footer__link {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__link:hover, .footer__link:focus {
  color: var(--accent-text-color);
}

.footer__address {
  color: var(--primary-white-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__address:hover, .footer__address:focus {
  color: var(--accent-text-color);
}

.footer__address {
  margin: 9px 0;
}

/* Портфоліо */
/* кнопки */
.buttons {
  display: flex;
  margin-bottom: 50px;
  flex-wrap: wrap;
  justify-content: flex-start;
  max-width: 326px;
}
@media screen and (min-width: 768px), (min-width: 1200px) {
  .buttons {
    justify-content: center;
    max-width: 100%;
  }
}

.buttons__button {
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 6px 22px;
  color: var(--primary-text-color);
  background-color: #f5f4fa;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  transition-property: background-color, color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.buttons__button:hover, .buttons__button:focus {
  background-color: var(--accent-text-color);
  color: var(--primary-white-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.buttons__item + .buttons__item {
  margin-left: 8px;
  margin-bottom: 15px;
}

/* лого */
.card-set {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}

.card-set__item {
  border: 1px solid #eeeeee;
  flex-basis: calc(100% - 30px);
  margin: 15px;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .card-set__item {
    flex-basis: calc((100% - 60px) / 2);
    margin: 15px;
  }
}
@media screen and (min-width: 1200px) {
  .card-set__item {
    flex-basis: calc((100% - 90px) / 3);
    margin: 15px;
  }
}
.card-set__item:hover, .card-set__item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.product {
  position: relative;
  overflow: hidden;
}

.product__content {
  position: absolute;
  display: flex;
  align-items: center;
  font-size: 18px;
  line-height: 1.55;
  height: 100%;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 120%);
  background-color: var(--accent-text-color);
  /* opacity: 0; */
  transition-property: opacity, transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.card-set__item:hover .product__content, .card-set__item:focus .product__content {
  opacity: 1;
  transform: translate(-50%, -50%);
}

.product__content p {
  margin: 63px 24px;
  color: var(--primary-white-color);
}

.product__meta {
  padding: 20px 24px;
}

.product__name,
.product__name--1 {
  margin-bottom: 4px;
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

@media screen and (min-width: 768px) {
  .product__name--1 {
    font-size: 16px;
  }
}

.product__atribute {
  color: #757575;
  font-size: 16px;
  line-height: 1.8;
}

/* бекдроп + модалка */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  /* background-color: red; */
  opacity: 1;
  z-index: 3;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop__closeButton {
  transition: color 250ms var(--cubic);
}
.backdrop__closeButton:hover, .backdrop__closeButton:focus {
  color: var(--accent-text-color);
}

.backdrop__closeIcon {
  fill: currentColor;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 90%;
  width: 90%;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  /* background-color: red; */
  border-radius: 4px;
}
@media screen and (min-width: 480px) {
  .modal {
    height: 609px;
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    height: 581px;
    width: 528px;
  }
}

.modal__title {
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: #212121;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 40px;
  margin-bottom: 12px;
}/*# sourceMappingURL=main.css.map */