:root {
  --primary-text-color: #212121;
  --accent-text-color: #2196f3;
  --primary-white-color: #ffffff;
}

.page {
  color: var(--primary-text-color);

  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  /* outline: 2px solid tomato; */
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* header */
.header {
  border-bottom: 1px solid #ececec;
}

.main-nav {
  display: flex;
  /* align-items: center; */
}

/* лого */
.logo {
  color: #000000;
  text-decoration: none;

  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.logo:hover,
.logo:focus {
  color: var(--accent-text-color);
}

.logo-half {
  color: var(--accent-text-color);
}

/* навігація */
nav {
  display: flex;
  align-items: center;
}

.site-nav {
  display: flex;
  margin-left: 93px;
}

.site-nav .item + .item {
  margin-left: 50px;
}

.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--primary-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-decoration: none;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-text-color);
}

.link.current {
  color: var(--accent-text-color);
  position: relative;
}

.link.current::after {
  content: "";

  position: absolute;
  display: inline-block;

  top: 95%;
  left: 0%;

  width: 100%;
  height: 4px;
  border-radius: 4px;

  background-color: var(--accent-text-color);
}

/* контакти */
.contacts {
  display: flex;
  margin-left: auto;
  padding: 32px 0;
}

.contacts .item + .item {
  margin-left: 50px;
}

.contacts-link {
  color: #757575;
  text-decoration: none;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-link:hover,
.contacts-link:focus {
  color: var(--accent-text-color);
}

.contacts-icon {
  fill: currentColor;
  margin-right: 10px;
}

/* ефективні рішення */
.solutions {
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/background.jpg);
  /* background-image: url(/images/background.jpg); */
  padding: 200px 0;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
}

.head-solution {
  color: var(--primary-white-color);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;

  margin-bottom: 30px;
}

.solution-button {
  margin: 0 auto;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 216px;

  color: var(--primary-white-color);
  background-color: var(--accent-text-color);
  cursor: pointer;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  display: flex;
  letter-spacing: 0.06em;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.solution-button:hover,
.solution-button:focus {
  color: var(--accent-text-color);
  background-color: var(--primary-white-color);
}

/* переваги */
.advantages h2 {
  /* display: none;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center; */
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.section-advantages {
  display: flex;
}

.section-advantages .items {
  width: 270px;
}

.section-advantages .items + .items {
  margin-left: 30px;
}

.section-advantages h3 {
  margin-top: 30px;
  margin-bottom: 10px;

  color: var(--primary-text-color);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  text-transform: uppercase;
}

.section-advantages p {
  color: #757575;

  font-size: 14px;
  line-height: 1.7;
}

.advantages-list {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 120px;
  width: 270px;

  background-color: #f5f4fa;

  border: 1px solid transparent;
  border-radius: 4px;
}

.advantages-icon {
  border: 1px solid transparent;
  border-radius: 4px;
  /* outline: 2px solid red; */
}

/* Чим ми займаємося */
.examples {
  padding-bottom: 94px;
}

.examples h2 {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
}

.section-examples {
  display: flex;
}

.section-examples .item + .item {
  margin-left: 30px;
}

.section-examples .item {
  position: relative;
}

.examples-content {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;

  height: 70px;
  width: 370px;
  bottom: -12%;
  left: 50%;
  transform: translate(-50%, -50%);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: var(--primary-white-color);
  background: rgba(47, 48, 58, 0.8);
}

/* команда */

.team {
  background-color: #f5f4fa;
}

.team h2 {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
}

.section-team {
  display: flex;
  justify-content: space-between;
}

.section-team .item {
  background-color: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-names {
  margin: 30px 0;
}

.section-team h3 {
  /* margin-top: 30px; */
  margin-bottom: 10px;

  color: var(--primary-text-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
}

.section-team p {
  color: #757575;

  font-size: 16px;
  line-height: 1.2;
  text-align: center;
}

.team-social {
  display: flex;
  margin-top: 16px;
  margin-bottom: 30px;
  margin-left: 32px;
  margin-right: 32px;
}

.team-link {
  color: #afb1b8;

  height: 44px;
  width: 44px;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 50%;

  transition-property: background-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.team-icon {
  fill: currentColor;
}

.team-link:hover,
.team-link:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-text-color);
}

.team-social .items + .items {
  margin-left: 10px;
}

/* клієнти */
.clients h2 {
  color: var(--primary-text-color);
  font-size: 36px;
  line-height: 1.16;
  text-align: center;

  margin-bottom: 50px;
}

.clients-list {
  display: flex;
  justify-content: center;
}

.clients-list .items {
  display: flex;
  align-items: center;
}

.clients-list .items + .items {
  margin-left: 30px;
}

.clients-link {
  width: 170px;
  height: 92px;

  display: flex;
  justify-content: center;
  align-items: center;

  color: #afb1b8;
  border: 1px solid #afb1b8;
  border-radius: 4px;

  transition-property: background-color, color, border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-icon {
  fill: currentColor;
}

.clients-link:hover,
.clients-link:focus {
  color: var(--accent-text-color);
  border: 1px solid var(--accent-text-color);
  border-radius: 4px;
}

/* Підвал */
.bottom {
  background-color: #2f303a;
  padding: 60px 0;
}

.section-bottom {
  display: flex;
  align-items: baseline;
}

/* лого-підвал */
.logo-bottom {
  display: inline-block;
  margin-bottom: 20px;

  color: var(--primary-white-color);
  text-decoration: none;

  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.logo-bottom:hover,
.logo-bottom:focus {
  color: var(--accent-text-color);
}

.logo-half {
  color: var(--accent-text-color);
}

/* контакти-підвал */
.contacts-bottom a {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  font-style: normal;

  font-size: 14px;
  line-height: 1.7;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-bottom a:hover,
.contacts-bottom a:focus {
  color: var(--accent-text-color);
}

.contacts-address {
  color: var(--primary-white-color);

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-address:hover,
.contacts-address:focus {
  color: var(--accent-text-color);
}

.address-link {
  margin: 9px 0;
}

.contacts-bottom .mail {
  margin: 9px 0;
}

.join {
  margin-left: 70px;
}

.join h2 {
  color: var(--primary-white-color);
  font-size: 14px;
  line-height: 1.14;
}

.join-list {
  display: flex;
  margin-top: 20px;
}

.join-list .blabla + .blabla {
  margin-left: 10px;
}

.join-link {
  color: var(--primary-white-color);

  height: 44px;
  width: 44px;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 50%;

  background: rgba(255, 255, 255, 0.1);

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.join-icon {
  fill: currentColor;
}

.join-link:hover,
.join-link:focus {
  background-color: var(--accent-text-color);
}

.subscribe-field {
  /* position: relative; */
  display: flex;
  flex-direction: column;
  margin-left: 93px;
}

.subscribe-field label {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  color: #ffffff;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  margin-bottom: 20px;
}

.subscribe-field input {
  width: 358px;
  height: 50px;

  padding-left: 16px;

  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

  color: var(--primary-white-color);
  background-color: #2f303a;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-field input::placeholder {
  font-size: 16px;
  line-height: 1.25;

  color: rgba(255, 255, 255, 0.6);
}

.subscribe-field input:focus {
  border: 1px solid var(--accent-text-color);
}

.subscribe-list {
  position: relative;
  display: flex;
}

.subscribe-list button {
  margin-left: 12px;
}

.subscribe-button {
  padding-left: 28px;
  padding-top: 10px;
  padding-right: 62px;
  padding-bottom: 10px;

  min-width: 200px;

  border: 1px solid transparent;
  border-radius: 4px;

  color: var(--primary-white-color);
  background-color: var(--accent-text-color);
  cursor: pointer;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
}

.subscribe-icon {
  position: absolute;
  left: 90%;
  top: 30%;

  fill: var(--primary-white-color);
}

/* Портфоліо */

.portfolio h1 {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* кнопки */
.portfolio-buttons {
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
}

.button-item {
  display: flex;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 6px 22px;

  color: var(--primary-text-color);
  background-color: #f5f4fa;
  cursor: pointer;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;

  transition-property: background-color, color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-buttons .item + .item {
  margin-left: 8px;
}

.button-item:hover,
.button-item:focus {
  background-color: var(--accent-text-color);
  color: var(--primary-white-color);

  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* лого */
.section-portfolio {
  display: flex;
  flex-wrap: wrap;
}

.portfolio-flex {
  /* display: block; */
  /* position: relative; */
  border: 1px solid #eeeeee;
  margin-right: 30px;
  margin-bottom: 30px;
  width: 370px;
  height: 404px;

  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-flex:hover,
.portfolio-flex:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-flex:nth-child(3n) {
  margin-right: 0;
}

.portfolio-flex:nth-child(n + 7) {
  margin-bottom: 0;
}

.portfolio-names {
  padding: 20px 24px;
}

.section-portfolio h2 {
  margin-bottom: 4px;

  color: var(--primary-text-color);

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.section-portfolio p {
  color: #757575;

  font-size: 16px;
  line-height: 1.8;
}

.thumb {
  position: relative;
  overflow: hidden;
}

.thumb::before {
  content: "";
  position: absolute;
  /* display: inline-block;    */
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  opacity: 0;

  transform: translateY(100%);

  transition-property: opacity, transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-flex:hover .thumb:before,
.portfolio-flex:focus .thumb:before {
  opacity: 1;
  transform: translateY(0);
}

.product-content {
  position: absolute;

  font-size: 18px;
  line-height: 1.55;

  height: 168px;
  width: 322px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 120%);

  /* opacity: 0; */

  transition-property: opacity, transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.product-content p {
  color: var(--primary-white-color);
}

.portfolio-flex:hover .product-content,
.portfolio-flex:focus .product-content {
  opacity: 1;
  transform: translate(-50%, -50%);
}

/* бекдроп + модалка */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  /* background-color: red; */
  opacity: 1;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  max-height: 581px;
  max-width: 528px;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  background-color: #fff;
  /* background-color: red; */

  border-radius: 4px;
}

.close-button {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 8px;
  margin-right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;

  height: 30px;
  width: 30px;

  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;

  background-color: var(--primary-white-color);
  color: var(--primary-text-color);

  cursor: pointer;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-icon {
  fill: currentColor;
}

.close-button:hover,
.close-button:focus {
  color: var(--accent-text-color);
}

textarea {
  resize: none;
}

.modal h2 {
  font-size: 20px;
  line-height: 1.15;
  text-align: center;

  color: #212121;

  margin-left: 40px;
  margin-right: 40px;
  margin-top: 40px;
  margin-bottom: 12px;
}

.form {
  height: 342px;
  width: 448px;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 20px;
}

.form-field {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.form-input {
  height: 40px;

  padding-left: 42px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus {
  border: 1px solid var(--accent-text-color);
}

.form-field label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;

  margin-bottom: 5px;

  color: #757575;
}

.form-label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;

  margin-bottom: 5px;

  color: #757575;
}

/* .form-field input {
  height: 40px;

  padding-left: 42px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
} */

.form-textarea {
  height: 120px;

  font-size: 12px;

  padding-left: 16px;
  padding-top: 12px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-textarea::placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}

.form-textarea:focus {
  border: 1px solid var(--accent-text-color);
}

.policy {
  display: flex;
  align-items: center;

  margin-left: 54px;
  margin-right: 50px;
  margin-top: 20px;
  margin-bottom: 30px;

  max-height: 20px;

  font-size: 14px;
  line-height: 1.71;

  color: #757575;
}

.policy-input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.input-icon {
  margin-right: 8px;

  border: 2px solid var(--primary-text-color);
  border-radius: 4px;
}

.policy-input:checked + .input-icon {
  background-color: var(--accent-text-color);
  border: transparent;
}

.details {
  color: var(--accent-text-color);
  margin-left: 5px;
}

/* .checkbox-img {
  display: block;
  margin-right: 8px;

  height: 15px;
  width: 16px;
  border: 2px solid var(--primary-text-color);
  border-radius: 4px;
}

.policy-input:checked + .checkbox-img {
  border-color: transparent;

  background-image: url("../images/check.svg");
  background-color: var(--accent-text-color);
  background-size: contain;
  background-origin: border-box;
} */

.send-button {
  display: flex;
  margin-bottom: 40px;
  margin-left: 164px;
  margin-right: 164px;
  padding: 10px 52px;
  min-width: 200px;

  border: 1px solid transparent;
  border-radius: 4px;

  color: var(--primary-white-color);
  background-color: var(--accent-text-color);
  cursor: pointer;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.form-icon {
  fill: var(--primary-text-color);

  position: absolute;
  bottom: 12px;
  left: 12px;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* .form-input:focus ~ .form-icon {
  fill: var(--accent-text-color);
} */

.form-field:focus-within .form-icon {
  fill: var(--accent-text-color);
}
