.header__mobile {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media screen and (min-width: $tablet) {
    display: none;
  }
}

.menu-btn {
  height: 50px;
  width: 50px;
  border: none;
  padding: 10px;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 2;
  background-color: #fff;
  border-radius: 5px;

  .menu-btn__close {
    display: none;
  }
  &.active {
    .menu-btn__menu {
      display: none;
    }
    .menu-btn__close {
      display: block;
    }
  }
}

// МЕНЮ

.mobile-menu {
  display: none;
  &.active {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: white;
    padding: 40px;
  }
  overflow: auto;
}

.mobile__logo {
  color: #000000;
  text-decoration: none;

  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;

  transition: color 250ms var(--cubic);

  &:hover,
  &:focus {
    color: var(--accent-text-color);
  }
}

.mobile__halflogo {
  color: var(--accent-text-color);
}

.mobile__link {
  color: var(--primary-text-color);

  font-weight: 500;
  font-size: 40px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-decoration: none;

  transition: color 250ms var(--cubic);

  &:hover,
  &:focus {
    color: var(--accent-text-color);
  }
}

.mobile__link--current {
  color: var(--accent-text-color);
}

.mobile__mail,
.mobile__tel {
  color: #757575;
  text-decoration: none;

  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;

  //   @media screen and (min-width: $mobile) {
  //     font-size: 34px;
  //   }

  transition: color 250ms var(--cubic);

  &:hover,
  &:focus {
    color: var(--accent-text-color);
  }
}
